*{ 
	font-family: Bebas Neue;
	
 }

 body{
 	position: relative;
 }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
   color:#9f9f9f!important;
   background-color: white;
}

h1{
	font-size: 75px;
}

p{
	font-size: 50px;
}

@media (max-width: 650px){
	h1{
		font-size: 70px;
	}

	p{
		font-size: 25px;
	}
}

img.col-xs-12{
  max-height: 200px;
}

img.col-sm-9{
  max-height: 400px;
}

img.col-sm-12{
  max-height: 600px;
}

.navbar{
 	background-color: #ffffff !important;
 	color:#9f9f9f !important;
 }

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .jumbotron{
  	background-color: none;
  	height: 600px;
  }

  .navbar-brand{
  	color:#c5e6ff !important;
  }

  .sticker {padding-top:25px;height:700px;color: #fff; background-color: #e4d7ff;}
  .personal {padding-top:25px;height:700px;color: #fff; background-color: #c5e6ff;}
  .bullet {padding-top:25px;height:700px;color: #fff; background-color: #bef9dc;}
  .what {padding-top:25px;height:1000px;color: #9f9f9f; background-color: white;}
  .employee {padding-top:25px;height:1200px;color: #fff; background-color: #9f9f9f;}
  .test {padding-top:25px;height:600px;color: #9f9f9f; background-color: white;}

  img{
  	float: right;
  }

 