*{
	background-color: #e4f3ff;

}
body{
	width:100%;
}
div{
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

h1{
	font-family: "Avant Garde";
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300px;
	line-height: 26.4px;
	text-align: center; 

}

h2{
	font-family: "Avant Garde";
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200px;
	line-height: 26.4px;
}

a{
	text-decoration: none !important;
	border:0!important;

}

.body{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

}

#links{
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	
}

#food{
	width: 950px;
	height: 590px;
	background-image: url("reservations.jpeg");
	margin-left: auto;
	margin-right: auto;
}

#menu{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("new.jpeg");
	margin-left: auto;
    margin-right: auto;
	margin-top:12.5px;
	margin-bottom: 12.5px;
	border:0!important;
	padding: 0 !important;
}

#about{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	width: 300px;
	height: 200px;
	background-image: url("blu.jpeg");
	opacity: .75;
	margin-left: auto;
    margin-right: auto;
	margin: 12.5px;
	border:0!important;
	padding: 0 !important;
}

#reserve{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	width: 300px;
	height: 200px;
	background-image: url('main.jpeg');
	margin-left: auto;
    margin-right: auto;
	margin: 12.5px;
	border:0!important;
	padding: 0 !important;
}

#link2{ 
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	
 }

#rawbar{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("rawbar.jpeg");
	float:left;
	margin:12.5px;
	border:0!important;
	padding: 0 !important;


}

#appetizers{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("appetizers.jpg");
	float:left;
	margin:12.5px;
	border:0!important;
	padding: 0 !important;
}

#soups{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("soup.jpeg");
	float:left;
	margin:12.5px;
	border:0!important;
	padding: 0 !important;
}
#fish{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("fish.jpeg");
	float:left;
	margin:12.5px;
	border:0!important;
	padding: 0 !important;
}

#steak{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("steak.jpeg");
	float:left;
	margin:12.5px;
	border:0!important;
	padding: 0 !important;
}
#lunch{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
	height: 200px;
	width:300px;
	background-image: url("lunch.jpg");
	float:left;
	margin:12.5px;
	border:0!important;
	padding: 0 !important;
}

.dish{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
	padding-bottom: 0;
}

.x{
	font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	padding-bottom: 2mm;

}



@media (min-width: 980px){
	#links{
		margin-left: auto;
		margin-right: auto;
		width: 975px;
	}

	#menu{
		float: left;
	}

	#reserve{
		float: left;

	}

	#about{
		float: left;

	}

	#link2{
		width: 975px;
	}

	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 74.99%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}
	
	}

@media (min-width:650px) and (max-width: 979px){
	#link2{
		margin-left: auto;
		margin-right: auto;
		width: 650px;
	
	}

		.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 74.99%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}
}
